{% extends "@App/index.html.twig" %}
                    {% block contentbody %}
                        {{ form(form) }}

                        <a Class="btn btn-facebook "href ="{{ path('listingoffre') }}"></a>

                        <i class="fa fa-plus-square" style="font-size:48px;color:red"></i>
                        <p>Ok icon on a styled link button:
                          
                        </p>

                    {% endblock %}